@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<form asp-action="Subir_Archivo" asp-controller="Home" method="post" enctype="multipart/form-data">

    <label>Descripción:</label>
    <input name="descripcion" type="text" />

    <br />
    <label>Documento:</label>
    <input name="documento" type="file" />

    <br />
    <button class="btn btn-success" type="submit">Enviar</button>
</form>